.audit-log-container {

    .modal-dialog {
        overflow-y: initial !important
    }

    .modal-body {
        max-height: calc(100vh - 200px);
        overflow-y: auto;
    }

    tr.row-error-detail {
        background-color: white;
    }

    .audit-modal-value{
        background-color:white;
    }
}
