@using System.Reflection
@using AdminUI.STS.Identity

@{
    var runtimeVersion = typeof(Startup)
        .GetTypeInfo()
        .Assembly
        .GetCustomAttribute<AssemblyInformationalVersionAttribute>()?.InformationalVersion;
}

<a href="https://ci.appveyor.com/project/vbjay/IDS4-Sample/build/@runtimeVersion" title="Build log"> @runtimeVersion</a> - <a href="https://github.com/vbjay/IDS4-Sample/commit/@ThisAssembly.Git.Sha" title="Code that is running">@ThisAssembly.Git.Sha</a>




