<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <remove name="aspNetCore" />
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\AdminUI.Admin.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="outofprocess" />
    </system.webServer>
  </location>
  <system.webServer>
        <rewrite>
            <rules>
                <remove name="root to main" />
                <!-- <rule name="root to main" enabled="false" stopProcessing="true">
                    <match url="^$" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^demoids\.vbjaysolutions\.com$" />
                    </conditions>
                    <serverVariables />
                    <action type="Redirect" url="/mvc" redirectType="Temporary" />
                </rule> -->
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
<!--ProjectGuid: bca62738-1b92-4ac5-a13a-c62f1a922f52-->