@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="text-center">
    <p>Privacy page will show you your claims and tokens.  Weather will use the weather api to get a fake forecast.  Weather Swagger will take you to the weather api swagger page. </p>
</div>
